html, body {
    margin: 0;
    padding: 0;
}

html, a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #195462;
}

.header_outline {
    display: flex;
    background-color: #ffc93c;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    padding: 0 15em;
}

.logoside {
    height: 5em;
    display: flex;
}

.menuside {}

.header-navigation li{
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}

.header-navigation li a {
    font-size: 1.2em;
    font-weight: bold;
}

.header-navigation li a:hover {
    text-decoration: underline;
}